body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
}

.main-div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container {
  width: 60%;
  background-color: #eff2f5;
  gap: 10px;
  min-width: 1024px;
}

.header {
  width: 100%;
  /* border: 1px solid black; */
}

.header-first-section {
  width: 100%;
  background-color: #009270;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.hide {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.login {
  color: white;
  display: none;
}

.hover-card {
  /* display: none; */
  /* position: relative; */
  top: 47px;
  /* background-color: white; */
}

.hover-card-items {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 20px;
  background-color: #eff2f5;
  margin-top: 15px;
  padding: 10px;
  color: black;
}

.card1 {
  /* padding: 10px; */
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.row-1 {
  width: 100%;
  padding: 10px;
}

.row-2 {
  width: 100%;
  padding: 3.8px;
}

.row-1 > div {
  font-size: small;
  display: inline-block;
  margin-right: 10px;
  color: #737373;
}

.row-2 > div {
  display: inline-block;
  margin-right: 10px;
  /* margin-top: 10px; */
}

.team-logo {
  margin-left: 6px;
}

.team-detail > span {
  margin-left: 5px;
}

.bottom-row {
  background-color: #d4d4d4;
  /* position: relative; */
  /* top: 10px; */
  width: 100%;
  text-align: end;
  height: 32px;
  padding: 8px;
  font-size: small;
}

.match-status {
  font-size: small;
  margin-left: 6px;
}

select {
  color: white;
  background-color: #009270;
  border: none;
  background-size: 18px;
  /* appearance: none; */
}

.options {
  color: white;
}

.logo {
  font-size: small;
  height: 30px;
  color: white;
  margin-left: 10px;
  /* background-color: white; */
}

.header-second-section {
  width: 100%;
  background-color: #4a4a4a;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  gap: 25px;
}

.header-second-section > span {
  font-size: small;
  font-weight: 500;
}

.bi-list {
  font-size: x-large;
  display: none;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.header-second-section-first-div {
  background-color: #333333;
  /* height: 100%;
     */
  padding: 15px;
  margin-left: -10px;
  font-size: small;
}

.carousal {
  display: flex;
  gap: 10px;
  width: 100%; /* Adjust width as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.carousal > div {
  height: 176px;
  width: 300px;
  display: inline-block;
  background-color: white;
  /* border-radius: 10px; */
  /* margin-right: 10px; */
}

.quick-access {
  width: 100%;
  background-color: white;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.quick-access > div {
  display: inline-block;
  border-radius: 5px;
  background-color: #ecf0f1;
  padding: 10px;
}

.quick-access-label {
  background-color: white !important;
  font-size: large !important;
}

.ipl-section {
  width: 100%;
  background-color: white;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.ipl-section > div {
  display: inline-block;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
}

.ipl-heading {
  background-color: white !important;
  font-size: large;
}

.overview {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.news-photos-schedule-section {
  /* height: 400px; */
  width: 200px;
  background-color: #ecf0f1;
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.news-photos-schedule-section > div {
  background-color: white;
}

.latest-news-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.latest-photos-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.latest-photos-section > img {
  width: 100%;
  border-radius: 5px;
  /* height: 20px; */
}

/* .time{
    color: #FFFFFF;
} */

.time {
  color: gray;
  font-size: x-small;
}

.latest-news-heading,
.latest-photos-heading {
  color: #009270;
}

.news-heading {
  font-size: small;
}

.horizontal-line {
  width: 100%;
  margin-top: -2px;
}

.top-stories {
  width: 496px;
  /* border: 1px solid green; */
  background-color: white;
  padding: 15px;
}

.story-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.match-category {
  font-size: small;
  color: #a6a6a6;
}
.heading {
  /* margin-top: -2px; */
  font-size: large;
  font-weight: bold;
}

.description {
  color: #737373;
  font-size: small;
  /* margin-top: -18px; */
}

.blue-text-heading {
  color: #1765da;
}

.top-stories-img {
  width: 100%;
  border-radius: 5px;
  font-weight: 400;
}

.features-videos-sepcials-section {
  width: 321px;
  background-color: white;
}

.features-videos {
  padding: 12px;
}

.features-videos-img {
  width: 100%;
}

.image-with-text-div {
  position: relative;
}

.video-highlight-text {
  position: absolute;
  color: white;
  bottom: 0px;
  padding: 10px;
  /* z-index: 1000; */
  font-size: small;
  width: 100%;
  /* top: 5px; */
}

.news-photos-schedule-section > div {
  width: 100%;
  /* height: 150px; */
  /* border: 1px solid green; */
}

.button-div {
  /* display: flex;
     */
  text-align: center;
}

.button-div > button {
  background-color: #009270;
  width: 60%;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.features-videos-sepcials-section > div {
  /* height: 162px; */
  width: 100%;
  /* border: 1px solid green; */
}

.footer {
  width: 100%;
  height: 275px;
  /* border: 1px solid black; */
  background-color: #4a4a4a;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer > div {
  /* width: 100px; */
  height: 208px;
  /* background-color: #009270; */
  margin-right: 20px;
  padding: 10px;
  color: white;
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-heading {
  font-weight: bold;
}

.footer-image {
  font-size: small;
  height: 30px;
  color: black;
  margin-left: 10px;
  /* background-color: white; */
}

.mobile-footer {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header-second-section-mobile {
    display: none;
  }

  /* .header-second-section{
        display: none;
    }

    .header-second-section-first-div{
        display: none;
    } */

  .bi-list {
    display: block;
    position: relative;
    /* top: 10px; */
    /* left: 25px; */
    color: white;
    font-size: xx-large;
  }

  .header-first-section {
    /* display: flex; */
    /* gap: 60px; */
    padding: 5px;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .logo {
    /* margin-top: 12px; */
    position: relative;
    /* top: 10px; */
  }

  .header-first-section * {
    /* display: none; */
    margin: 10px;
  }

  /* .header-first-section * {
    display: inline-block;
  } */

  .hide {
    display: none;
  }

  .header-second-section {
    display: none;
  }

  .header-second-section-mobile {
    width: 100%;
    background-color: #009270;
    height: 50px;
  }

  .header {
    background-color: #009270;
    position: fixed;
    z-index: 1000;
    margin-top: -20px;
  }

  .login {
    color: white;
    display: block;
    padding: 5px;
    /* width: 100px; */
    /* margin-top: 20px; */
  }

  .container {
    width: 100vw;
    min-width: initial;
  }

  .content-container {
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    /* white-space: nowrap; */
    scrollbar-width: none;
    margin-bottom: 60px;
  }

  .overview {
    flex-direction: column-reverse;
  }

  .news-photos-schedule-section {
    display: none;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .features-videos-sepcials-section {
    /* background-color: red; */
    background-color: #ecf0f1;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
  }

  .features-videos-sepcials-section > div {
    display: inline-block;
    width: 288px;
  }

  .features-videos {
    border-radius: 10px;
  }

  .video-highlight-text {
    width: 100%;
    color: white;
    white-space: normal;
  }

  .top-stories {
    width: 100%;
    max-width: 100%;
  }

  .footer {
    display: none;
  }
  .mobile-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 40px; */
    width: 100%;
    height: 64px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background-color: #ffffff;
    flex-wrap: wrap;
    padding: 10px;
  }

  .mobile-footer > div {
    text-align: center;
  }
  .carousal > div {
    /* height: 176px;
        width: 300px;
        display: inline-block;
        background-color: white;
        border-radius: 10px; */
    /* margin-right: 10px;
    margin-left: 10px; */
  }

  .features-videos-sepcials-section > div {
    /* height: 162px;
        width: 100%;
        border: 1px solid green; */
    /* margin-left: 10px; */
    background-color: white;
  }

  .news-photos-schedule-section {
    margin-left: 10px;
  }

  .top-stories {
    /* margin-left: 10px; */
    padding: 0px;
  }

  .footer-text {
    font-size: small;
    margin-top: 5px;
  }
  .bi-house-fill,
  .bi-slash-circle-fill,
  .bi-funnel-fill,
  .bi-play-btn,
  .bi-newspaper {
    font-size: large;
  }
}
